

	@media screen and (min-width:320px) {
		 
		#scrollWrap {
	   		width: 320px;
	   		margin-left: -160px;
	  	}

		#scrollWrap .arrow {

			width: 27px;
			height: 45px;


		}

		#scrollWrap #leftarrow {

			left: 0%;

			background-size: 112px 46.5px;
			
		}

		#scrollWrap #rightarrow {

			right: 0%;

			background-size: 112px 46.5px;

		}

	  	#scrollUl img {

	  		width: 320px;

	  	}



	 }
	
